version: '3.8' 

services:

  mongo:
    image: mongo 
    container_name: shop-mongo-db 
    ports:
      - "27017:27017" 
    environment:
      - MONGO_INITDB_ROOT_USERNAME=root 
      - MONGO_INITDB_ROOT_PASSWORD=password 
    volumes:
      - mongo-data:/data/db 
  mongo-express:
    image: mongo-express 
    container_name: shop-mongo-admin
    ports:
      - "8081:8081" 
    environment:
      - ME_CONFIG_MONGODB_ADMINUSERNAME=root 
      - ME_CONFIG_MONGODB_ADMINPASSWORD=password 
      - ME_CONFIG_MONGODB_SERVER=mongo 
    depends_on:
      - mongo 
  keycloak:
        image: quay.io/keycloak/keycloak:24.0 
        container_name: shop-keycloak
        ports:
          - "8080:8080" 
        environment:
          - KEYCLOAK_ADMIN=admin 
          - KEYCLOAK_ADMIN_PASSWORD=admin 
        command: start-dev 
        depends_on:
          - mongo
  redis:
        image: redis:7-alpine 
        container_name: shop-redis
        ports:
          - "6379:6379" 

volumes:
  mongo-data: 