version: '3.9'

services:
  api:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: hypersoft-api
    env_file:
      - ./api/src/Hypesoft.API/.env
    environment:
      - ASPNETCORE_ENVIRONMENT=Development
      - ASPNETCORE_URLS=http://+:8080
      - MONGO_CONNECTION_STRING=${MONGO_CONNECTION_STRING}
      - MONGO_DATABASE_NAME=${MONGO_DATABASE_NAME}
    ports:
      - "8081:8080"
    depends_on:
      - keycloak

  keycloak:
    image: quay.io/keycloak/keycloak:24.0
    container_name: hypersoft-keycloak
    environment:
      - KEYCLOAK_ADMIN=admin
      - KEYCLOAK_ADMIN_PASSWORD=admin
    command:
      - start-dev
    ports:
      - "8080:8080"
